<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Gestor de actividades académicas</h1>

<!-- Formulario -->
<div class="card">
  <h2>Agregar actividad</h2>

  <!-- ngModel conecta el input con la variable en ts -->
  <input [(ngModel)]="nombre" placeholder="Nombre de la actividad">
  <input [(ngModel)]="materia" placeholder="Materia">
  <input [(ngModel)]="fecha" type="date">

  <!-- Selector de prioridad -->
  <select [(ngModel)]="prioridad">
    <option [ngValue]="''">Selecciona prioridad</option>
    <option [ngValue]="'Alta'">Alta</option>
    <option [ngValue]="'Media'">Media</option>
    <option [ngValue]="'Baja'">Baja</option>
  </select>
  
  <!-- Botón que ejecuta la función -->
  <button (click)="agregarActividad()">Agregar</button>
</div>

<div class="card">
  <h2>Resumen</h2>

  <!-- Se llaman como funciones porque son computed -->
  <p>Total: {{ total() }}</p>
  <p>Pendientes: {{ pendientes() }}</p>
  <p>Completadas: {{ completadas() }}</p>
</div>

<div class="card">
  <h2>Filtros</h2>

  <!-- Cambian el valor del signal filtro -->
  <button (click)="filtro.set('todas')">Todas</button>
  <button (click)="filtro.set('pendientes')">Pendientes</button>
  <button (click)="filtro.set('completadas')">Completadas</button>
</div>

<div class="card">
  <h2>Lista de actividades</h2>

  <!-- Si no hay actividades -->
  @if (actividadesFiltradas().length === 0) {
    <p>No hay actividades registradas</p>
  }

  <!-- Recorre la lista dinámicamente -->
@for (act of actividadesFiltradas(); track $index) {

  <div class="actividad">

    <!-- Muestra datos -->
    <p><strong>{{ act.nombre }}</strong></p>
    <p>{{ act.materia }}</p>
    <p>{{ act.fecha }}</p>

    <!-- Cambia color según prioridad -->
    <p [ngClass]="act.prioridad">{{ act.prioridad }}</p>

    <!-- Acciones -->
    <div class="acciones">
      <label>
        <input type="checkbox" (change)="toggleEstado($index)">
        Completada
      </label>

      <button (click)="eliminarActividad($index)">Eliminar</button>
    </div>

  </div> 
}
</div>